*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.image-generator{
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url("/Images/images/bg.jpg");
    color: azure;
    background-size: cover;
    background-position:center;
    animation: change 120s infinite ease-in-out;
}

.image-generator::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: black;
}

.image-generator .content{
    color: #fff;
    position: relative;
    padding: 0 15px;
    max-width: 800px;
    text-align: center;
}

.image-generator h1{
    font-size: 2rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1rem;
    margin-top: 10px;
}

.image-generator .generate-form{
    height: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 6px;
    margin: 45px 0 15px;
    border-radius: 10px;
}

.generate-form .prompt-input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;
}

.generate-form .controls{
    display: flex;
    height: 100%;
    gap: 15px;
}

.generate-form .img-quantity{
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}

.generate-form .generate-btn{
    font-size: 1rem;
    outline: none;
    border: none;
    background: #cd0090;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    opacity: 0.8;
    transition: opacity .30s;
}

.generate-btn:hover{
    opacity: 1;
}

.generate-btn:active{
    opacity: 0.2;
}

.image-gallery {
    display: flex;
    gap: 10px;
    padding: 0 15px;
    max-width: 1250px;
    flex-wrap: wrap;
    margin: 50px auto ;
    justify-content: center;

}

.image-gallery .img-card{
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1 ;
    border-radius: 5px ;
    overflow: hidden;
    position: relative;
    background: #ececec;
}

.image-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
}

.image-gallery .img-card .download-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 20%;
    display: none;
    justify-content: center;
    align-items: center;
}

.image-gallery .img-card:not(.loading) .download-btn{
    display: flex;
    transition: display .45s;
    box-shadow: 1px 1px 2px rgba(28, 28, 28, 0.47);
}

.image-gallery .img-card .download-btn img{
    width: 14px;
    height: 14px;
}

@media screen and (max-width : 700px ) {
    .image-generator {
        height: 70vh;
    }
    .image-generator h1{
        font-size: 1.5rem;
    }

    .image-generator p{
        font-size: .6rem;
    }

    .image-generator .generate-form{
        display: block;
        height: 52px;
        margin-top: 30px;
    }

    .generate-form .controls{
        height: 40px;
        margin-top: 15px;
        align-items: center;
        justify-content: flex-end;
    }

    .generate-form .img-quantity{
        color: #fff;
    }
    .generate-form .img-quantity option{
        color: black;
    }

    .generate-form .generate-btn{
        height: 100%;
        width: 70%;
    }

    .image-gallery .img-card:not(.loading) .download-btn{
        display: flex;
    }

    .image-gallery{
        margin-top: 20px;
    }
}

@media screen and (max-width : 550px ){
    .image-generator {
        height: 70vh;
    }
    .image-gallery .img-card{
        width: 100%;
    }
}

@keyframes change{
    10% {
        background-image: url(Images/images/bg2.jpg) ;
    }
    20% {
        background-image: url(Images/images/bg3.jpg) ;
    }
    30% {
        background-image: url(Images/images/bg4.jpg) ;
    }
    40%{
        background-image: url(Images/images/bg5.jpg) ;
    }
    50% {
        background-image: url(Images/images/bg6.jpg) ;
    }
    60% {
        background-image: url(Images/images/bg7.jpg) ;
    }
    70% {
        background-image: url(Images/images/bg8.jpg) ;
    }
    80% {
        background-image: url(Images/images/bg9.jpg) ;
    }
    90% {
        background-image: url(Images/images/bg10.jpg) ;
    }
    100% {
        background-image: url(Images/images/bg11.jpg) ;
    }
}
