* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
}

.card {
  width: 90%;
  max-width: 480px;
  background: linear-gradient(150deg, rgb(164, 164, 255), rgb(5, 5, 87));
  color: white;
  margin: 50px auto ;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search input {
  margin-left: 20px;
  width: 70%;
  margin-right: 0;
  border: 0;
  outline: 0;
  background: rgb(227, 227, 255);
  color: black;
  padding: 20px 20px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 100;
}

.reset-btn{
  display: block;
  border: 0;
  outline: 0;
  background: rgb(255, 255, 255);
  margin-top: .5em;
  text-align: center;
  color: black;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 18;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.reset-btn:hover{
  opacity: 1;
}

.reset-btn:active{
  opacity: 0.5;
}
.search button {
  border: 0;
  outline: 0;
  background: rgb(227, 227, 255);
  color: black;
  padding: 5px 30px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.search button:hover {
  opacity: 0.7;
}
.search button:active {
  background-color: white;
  opacity: 1;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: -10px;
}
.weather .desc{
  font-size: 25px;
  font-weight: normal;
  margin-top:-10px;
  margin-bottom: -10px;
  color: #ffffff;
}
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  border-radius: 5%;
  padding: 10px;
  max-width: 90%;
  background-color: rgba(0, 0, 0, 0.027);
  box-shadow: 0 2px 5px rgba(19, 19, 58, 0.607);  
}
.col img {
  height: 10em;
  margin: -10px;
}
.humid,
.wind {
  font-size: 32px;
  font-weight: 700;
  margin-top: -6px;
}
.weather {
  display: none;
}

.display-weather{
  display: block;
}

.error {
  text-align: left;
  margin-left: 38px;
  font-size: 10px;
  margin-top: 10px;
  display: none;
}
.clouds{
  background: linear-gradient(150deg, rgb(173, 207, 215), rgb(88, 110, 115));
}
@media (max-width:480px) {
  .card {
    width: 90%;
    margin-right: 1rem;
  }
  .search{
    width: 100%;
  }
  .search button{
    margin-right: 0.5em;
  }
  .search input{
    width: 79%;
    margin-left: 0.5em;
  }
  .details .col{
    width: 90%;
    padding: 10px;
    margin-bottom: 1rem; 
  }
  .details{
    justify-content: center;
  }
};

